<div class="main" role="main">
    <div class="target-marker" id="endpoints"></div>
    <h4 class="page-header">Endpoints</h4>
    {{#each apiContexts}}
        {{> endpoint }}
    {{/each}}

    <div class="target-marker" id="types"></div>
    <h4 class="page-header">Types</h4>
    {{#each usedApiTypes}}
        {{> type }}
    {{/each}}

    <div class="target-marker" id="enumerations"></div>
    <h4 class="page-header">Enumerations</h4>
    {{#each usedEnumerations}}
        {{> enum }}
    {{/each}}
</div>
