<div class="target-marker" id="{{apiPath}}"></div>
<h4 class="page-header">{{apiPath}}</h4>
{{#if description}}
    <p>Description: {{description}}</p>
{{/if}}
{{#each apiEndpoints}}
    <div class="target-marker" id="_{{lower method}}_{{../apiPath}}{{path}}"></div>
    <div class="panel {{panelStyle method}}">
        <div class="panel-heading">
            <span class="gray endpoint {{method}}">{{../apiPath}}{{path}}</span>
            <span class="span-left" title='Click to copy'
                  data-clipboard-text="{{copyUrler method=method apiPath=../apiPath path=path}}">
                <i class="fa fa-link"></i>
            </span>

            <div class="navbar-right link-to-java">
                <span class="span-info">{{../name}}.{{name}}</span>
                <span class="span-right">
                    <i title="Click to copy"
                       class="fa fa-clipboard"
                       data-clipboard-text="{{../name}}#{{name}}"></i>
                </span>
            </div>
        </div>
        <div class="panel-body positionRelative">
            {{#if description}}<p>Description: {{description}}</p>{{/if}}
            <div class="container-fluid">
                {{#if params}}
                    <div class="row">
                        <h5>Parameters</h5>

                        <div class="col-xs-12 col-md-10">
                            {{#each params}}
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-1 parameter lowercase">
                                        ({{httpParamType}})
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-3 gap_x_r">
                                        <span class="model-type">{{modelType}}</span>
                                        {{~#if name~}}
                                            <span class="gray italic">
                                                        {{~name~}}
                                                {{~#if defaultValue~}}
                                                    <span class="gray span-info">={{defaultValue}}</span>
                                                {{~/if~}}
                                                </span>
                                        {{~/if~}}
                                        <!--todo add to default set this variant-->
                                        {{~#if basedOn~}}
                                            {{#each basedOn}}
                                                {{#if this.type}}
                                                    <span class="gray italic">of</span>
                                                    <span class="object-link">
                                                        <a href="#{{shrinkByDots this.type}}">{{shrinkByDots this.type}}</a>
                                                    </span>
                                                {{else}}
                                                    {{#ifCond this.modelType 'ANY'}}
                                                        <span class="gray span-info template-tooltip">{{this.templateName}}</span>
                                                    {{else}}
                                                        <span class="lowercase">{{this.modelType}}</span>
                                                    {{/ifCond}}
                                                {{/if}}
                                            {{/each}}
                                        {{~/if~}}
                                        {{~#if type~}}
                                            <span>→</span>
                                            <span class="object-link">
                                                <a href="#{{shrinkByDots type}}">{{shrinkByDots type}}</a>
                                            </span>
                                        {{~/if~}}
                                    </div>
                                    {{#if description}}
                                        <div class="col-xs-2 col-sm-1 col-md-8 gap_x_r gray">{{description}}</div>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <h5>Responses</h5>
                    <span style="padding-left: 50px"></span>
                    {{~#if returnType.type~}}
                        <span class="type-name object-link">
                            <a href="#{{shrinkByDots returnType.type}}">
                                {{~shrinkByDots returnType.type~}}
                            </a>
                        </span>
                    {{else}}
                        <span class="model-type">{{returnType.modelType}}</span>
                        {{#if returnType.templateName}}
                            <span class="gray span-info template-tooltip">({{returnType.templateName}})</span>
                        {{/if}}
                    {{/if~}}
                    {{~#if returnType.basedOn}}
                        <span class="gray italic">of</span>
                        {{~#each returnType.basedOn}}
                            <span class="add-comma"> {{{responseTyper this}}} </span>
                        {{/each~}}
                    {{/if~}}
                </div>
            </div>
            <div class="raw-view-switch">Raw view</div>
        </div>
        <div class="panel-raw-view">
            <pre>{{json this}}</pre>
        </div>
    </div>
{{/each}}