<div class="target-marker" id="{{shrinkByDots type}}"></div>
<div class="panel panel-info">
    <div class="panel-heading">
        <span class="gray endpoint">{{shrinkByDots type}}</span>
        <span class="span-left" title='Click to copy' data-clipboard-text="{{copyUrlerType type=type}}">
            <i class="fa fa-link"></i>
        </span>

        <div class="navbar-right link-to-java">
            <span class="span-info">{{type}}</span>
        <span class="span-right">
            <i title="Click to copy" class="fa fa-clipboard" data-clipboard-text="{{type}}"></i>
        </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <h5>Values</h5>

                <div class="col-xs-12 col-md-10">
                    {{#each values}}
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-3">
                                {{this}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>