/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";

@keyframes copy-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

[data-clipboard-text] {
  &:not(:active) {
    animation: copy-animation 0.25s linear 0s;
  }
}

span.endpoint.DEFAULT {
  &:before {
    color: @gray;
  }
}

span.endpoint.POST {
  &:before {
    content: 'POST';
    color: @bs_success_txt;
    margin-right: 10px;
  }
}

span.endpoint.GET {
  &:before {
    content: 'GET';
    color: @bs_info_txt;
    margin-right: 10px;
  }
}

span.endpoint.PUT {
  &:before {
    content: 'PUT';
    color: @bs_warning_txt;
    margin-right: 10px;
  }
}

span.endpoint.PATCH {
  &:before {
    content: 'PATCH';
    color: @bs_warning_txt;
    margin-right: 10px;
  }
}

span.endpoint.DELETE {
  &:before {
    content: 'DELETE';
    color: @bs_danger_txt;
    margin-right: 10px;
  }
}

.panel-heading {
  .span-left {
    &:hover {
      cursor: pointer;
    }
    padding: 0 10px;
  }
  .span-right {
    &:hover {
      cursor: pointer;
    }
    padding: 0 15px;
  }
}

.span-info {
  font-family: @font-mono;
  font-style: normal;
}

.parameter {
  color: @query_param_color;
  text-align: right;
}

.model-type {
  color: @model_type_color;
  width: 120px;
  text-transform: lowercase;
}

.type-name {
  color: @gray;
  font-style: italic;
}

.object-link {
  > a {
    text-decoration: underline;
    color: @gray;
  }
}

.gap_x_r {
  span {
    padding-right: 10px;
  }
}

.raw-view-switch {
  position: absolute;
  font-size: 12px;
  font-style: italic;
  color: @bs_info_txt;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
}

.panel-raw-view {
  display: none;
}