/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";

#feedback {
  a {
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
    position: fixed;
    right: -65px;
    bottom: 50px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    width: 90px;
    height: 25px;

    background-color: #F5F5EE;
    font-family: @font-mono;
    padding: 5px 10px 0;
    text-align: center;
    font-size: 12px;

    color: #898989;
  }
}
