/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";
@import "modifiers";
@import "feedback";
@import "navbar_top";
@import "sidebar";
@import "endpoint_card";
@import "search";

body {
  padding-top: 50px; //header offset
}

.main {
  padding: 20px;
  margin-left: @sidebar_width;
  .page-header {
    margin-top: 0;
  }
}

.target-marker {
  display: block;
  height: 65px;
  margin-top: -65px;
  visibility: hidden;
}

.template-tooltip {
  &:hover {
    &:after {
      content: "Template. Ask developer about implementation";
      position: relative;
      font-size: 10px;
      top: -5px;
      color: @bs_warning_txt;
    }
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}
