/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";

.visible {
  visibility: visible;
}

.positionRelative {
  position: relative;
}

.lowercase {
  text-transform: lowercase;
}

.gray {
  color: @gray;
}

.italic {
  font-style: italic;
}

.text-ellipsis {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.add-comma {
  &::after {
    content: ',';
  }
  &:last-child {
    &::after {
      content: '';
    }
  }
}