/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";

.logo-link-to-src {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.navbar-fixed-top {
  border: 0;
}

.navbar-form {
  overflow: hidden;
  .form-control {
    width: 100%;
  }
}

ul#fuzzy-suggest {
  left: inherit;
}

a.navbar-brand {
  .text-ellipsis()
}

.navbar-header {
  width: 100%;
}

@media (max-width: 768px) {
  a.navbar-brand {
    display: none;
  }
}