/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "variables";

.sidebar {
  width: @sidebar_width;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  background-color: @bs_default_bg;
}

.nav-sidebar {
  > li > a {
    padding: 5px 15px;

  }

  > li .nav {
    display: none;
  }

  > .active {
    > a {
      font-weight: 700;
    }
  }

  li.active {
    .nav {
      display: block;
    }
  }

  li > a[href^="#"] {
    > span {
      width: 100%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.nav.nav-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar > .nav-sidebar {
  > li.active {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    & + a {
      border-top: 1px solid #ccc;
    }
  }

  > a {
    font-weight: 400;
    color: @black;
    border-bottom: 1px solid #ccc;
    background: #f5f5ee;
    height: 30px;
    padding: 5px 0 5px 5px;
  }
}

.side-container {
  span {
    &:before {
      margin-right: 10px;
      width: 50px;
      text-align: right;
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}