/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//PATCH
@bs_default_bg: #f5f5f5;
@bs_default_border: #ddd;
@bs_default_txt: #333;

//POST
@bs_success_bg: #dff0d8;
@bs_success_border: #d6e9c6;
@bs_success_txt: #3c763d;

//GET
@bs_info_bg: #d9edf7;
@bs_info_border: #bce8f1;
@bs_info_txt: #31708f;

//
@bs_primary_bg: #337ab7;
@bs_primary_border: #337ab7;
@bs_primary_txt: #fff;

//PUT
@bs_warning_bg: #fcf8e3;
@bs_warning_border: #faebcc;
@bs_warning_txt: #8a6d3b;

//DELETE
@bs_danger_bg: #f2dede;
@bs_danger_border: #ebccd1;
@bs_danger_txt: #a94442;

@bs_green: #4cae4c;
@bs_cyan: #46b8da;
@bs_orange: #eea236;
@bs_red: #d43f3a;

@bs_light_green: #5cb85c;
@bs_light_cyan: #5bc0de;
@bs_light_orange: #f0ad4e;
@bs_light_red: #d9534f;

@query_param_color: #7397c0;
@model_type_color: #b56f97;
@gray: #898989;
@black: #050014;
@font-mono: "Lucida Console", Monaco, monospace;

@sidebar_width: 250px;